#img-bg{
    background-image: url('https://images.pexels.com/photos/3987114/pexels-photo-3987114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');


    min-height: 923px;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

}