#img-bg{
    background-image: url('../../assets/img/pexels-photo-1194713.jpeg');


    min-height: 923px;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

}